@charset "UTF-8";
/* Color Theme Swatches in Hex */
.Neutral-Tropical-Greenhouse-1-hex { color: #A89A8A; }
.Neutral-Tropical-Greenhouse-2-hex { color: #8D960C; }
.Neutral-Tropical-Greenhouse-3-hex { color: #A9DBAA; }
.Neutral-Tropical-Greenhouse-4-hex { color: #07614F; }
.Neutral-Tropical-Greenhouse-5-hex { color: #FCD99F; }

/* Color Theme Swatches in RGBA */
.Neutral-Tropical-Greenhouse-1-rgba { color: rgba(168, 154, 137, 1); }
.Neutral-Tropical-Greenhouse-2-rgba { color: rgba(141, 150, 11, 1); }
.Neutral-Tropical-Greenhouse-3-rgba { color: rgba(168, 218, 169, 1); }
.Neutral-Tropical-Greenhouse-4-rgba { color: rgba(7, 96, 78, 1); }
.Neutral-Tropical-Greenhouse-5-rgba { color: rgba(251, 216, 158, 1); }

/* Color Theme Swatches in HSLA */
.Neutral-Tropical-Greenhouse-1-hsla { color: hsla(0, 14, 60, 1); }
.Neutral-Tropical-Greenhouse-2-hsla { color: hsla(0, 85, 31, 1); }
.Neutral-Tropical-Greenhouse-3-hsla { color: hsla(0, 40, 76, 1); }
.Neutral-Tropical-Greenhouse-4-hsla { color: hsla(0, 86, 20, 1); }
.Neutral-Tropical-Greenhouse-5-hsla { color: hsla(0, 93, 80, 1); }

*{
	padding:0;
	box-sizing: border-box;
	outline: none; border:none;
	text-decoration: none;
	transition: all .2s linear;
	text-transform: capitalize;
 }

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* Body */

body {
	font-family: source-sans-pro;
	background-color: rgba(7, 96, 78, 1);
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	font-style: normal;
	font-weight: 200;

}
/* Container */
.wrapper {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: 1000px;
	background-color: #FFFFFF;
}
/* Navigation */
header {
	width: 100%;
	height: 5%;
	background-color: #52bad5;
	border-bottom: 1px solid #2C9AB7;
	z-index: 1;
}
.logo {
	color: #fff;
	font-weight: bold;
	text-align: undefined;
	width: 20%;
	float: left;
	margin-top: 15px;
	margin-left: 25px;
	letter-spacing: 4px;
}
nav {
	float: right;
	width: 50%;
	text-align: right;
	margin-right: 25px;
}
header nav ul {
	list-style: none;
	float: right;
}
nav ul li {
	float: left;
	color: #FFFFFF;
	font-size: 14px;
	text-align: left;
	margin-right: 25px;
	letter-spacing: 2px;
	font-weight: bold;
	transition: all 0.3s linear;
}
ul li a {
	color: #FFFFFF;
	text-decoration: none;
}
ul li:hover a {
	color: #2C9AB7;
}

/* Hero Section */
section {
	margin: 0;
}
.hero {
	width: 100%;
	height: 600px;
  overflow: hidden;
  position: relative;
}
.hero video {
	min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
.hero .title {
	z-index: 1;
	position: relative;
	text-align: center;
	color: #dc0000;
	padding: 10px;
}
.hero_header {
	color: #FFFFFF;
	text-align: center;
	font-size: 2.5em;
	margin-top: 262px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	letter-spacing: 4px;
	mix-blend-mode: overlay;
}
.light {
	font-weight: bold;
	color: #717070;
}
.tagline {
	text-align: center;
	color: #FFFFFF;
	margin-top: 4px;
	font-weight: lighter;
	text-transform: uppercase;
	letter-spacing: 1px;
	z-index:999;
}
/* About Section */
.text_column {
	width: 29%;
	text-align: justify;
	font-weight: lighter;
	line-height: 25px;
	float: left;
	padding-left: 20px;
	padding-right: 20px;
	color: #A3A3A3;
}
.about {
	width: 100%;
	height: 400px;
	padding-left: 25px;
	padding-right: 25px;
	background-color: rgba(141, 150, 11, 1);
}
.container{
	max-width: 100%;
	margin:0 auto;
	background-color: rgba(251, 216, 158, 1);
	padding-top: 10px;
	/* position: relative;
	left: 40px;
	bottom: 50px; */
 }
 
 .container .title{
	font-size: 3.5rem;
	color:#444;
	margin-bottom: 3rem;
	margin-top: 3rem;
	text-align: center;
 }
 
 .container .products-container{
	width: 90%;
	height: auto;
	margin: 0 auto;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;
	overflow-y: hidden;
	scroll-behavior: smooth;
	-webkit-overflow-scrolling: touch;
  
 }
 
 .container .products-container .product{
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 25px;
	text-align: center;
	padding:3rem 2rem;
	background: #fff;
	box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
	outline: .1rem solid #ccc;
	outline-offset: -1.5rem;
	cursor: pointer;
 }
 
 .container .products-container .product:hover{
	outline: .2rem solid #222;
	outline-offset: 0;
 }
 
 .container .products-container .product img{
	height: 25rem;
 }
 
 .container .products-container .product:hover img{
	transform: scale(.9);
 }
 
 .container .products-container .product h3{
	padding:.5rem 0;
	font-size: 2rem;
	color:#444;
 }
 
 .container .products-container .product:hover h3{
	color:#27ae60;
 }
 
 .container .products-container .product .price{
	font-size: 2rem;
	color:#444;
 }
 
 .products-preview{
	position: fixed;
	top:0; left:0;
	min-height: 100vh;
	width: 100%;
	background: rgba(0,0,0,.8);
	display: none;
	align-items: center;
	justify-content: center;
 }
 
 .products-preview .preview{
	display: none;
	padding:2rem;
	text-align: center;
	background: #fff;
	position: relative;
	margin:2rem;
	width: 40rem;
 }
 
 .products-preview .preview.active{
	display: inline-block;
 }
 
 .products-preview .preview img{
	height: 30rem;
 }
 
 .products-preview .preview .fa-times{
	position: absolute;
	top:1rem; right:1.5rem;
	cursor: pointer;
	color:#444;
	font-size: 4rem;
 }
 
 .products-preview .preview .fa-times:hover{
	transform: rotate(90deg);
 }
 
 .products-preview .preview h3{
	color:#444;
	padding:.5rem 0;
	font-size: 2.5rem;
 }
 
 .products-preview .preview .stars{
	padding:1rem 0;
	font-size: 1.7rem;
 }
 
 .products-preview .preview .stars i{
	color:#27ae60;
 }
 
 .products-preview .preview .stars span{
	color:#999;
 }
 
 .products-preview .preview p{
	line-height: 1.5;
	padding:1rem 0;
	font-size: 1.6rem;
	color:#777;
 }
 
 .products-preview .preview .price{
	padding:1rem 0;
	font-size: 2.5rem;
	color:#27ae60;
 }
 
 .products-preview .preview .buttons{
	display: flex;
	gap:1.5rem;
	flex-wrap: wrap;
	margin-top: 1rem;
 }
 
 .products-preview .preview .buttons a{
	flex:1 1 16rem;
	padding:1rem;
	font-size: 1.8rem;
	color:#444;
	border:.1rem solid #444;
 }
 
 .products-preview .preview .buttons a.cart{
	background: #444;
	color:#fff;
 }
 
 .products-preview .preview .buttons a.cart:hover{
	background: #111;
 }
 
 .products-preview .preview .buttons a.buy:hover{
	background: #444;
	color:#fff;
 }
 
/* Parallax Section */
.banner {
	background-color: #2D9AB7;
	background-image: url(../images/parallax.png);
	height: 400px;
	background-attachment: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}
.parallax {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	padding-top: 110px;
	letter-spacing: 2px;
	margin-top: 0px;
}
.parallax_description {
	color: #FFFFFF;
	text-align: right;
	padding-right: 100px;
	width: 30%;
	float: right;
	font-weight: lighter;
	line-height: 23px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
/* More info */
footer {
	background-color: #FFFFFF;
	padding-bottom: 35px;
}
.footer_column {
	width: 50%;
	text-align: center;
	padding-top: 30px;
	float: left;
}
footer .footer_column h3 {
	color: #B3B3B3;
	text-align: center;
}
footer .footer_column p {
	color: #717070;
	background-color: #FFFFFF;
}
.cards {
	width: 100%;
	height: auto;
	max-width: 400px;
	max-height: 200px;
}
#monthly-sub {
    text-align: center;
    margin-top: 45px;
}
footer .footer_column p {
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
	line-height: 25px;
	font-weight: lighter;
	margin-left: 20px;
	margin-right: 20px;
}
.button {
	width: 200px;
	margin-top: 40px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 20px;
	padding-left: 10px;
	text-align: center;
	vertical-align: middle;
	border-radius: 0px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 2px;
	border: 3px solid #FFFFFF;
	color: #FFFFFF;
	transition: all 0.3s linear;
}
.button:hover {
	background-color: #FEFEFE;
	color: #C4C4C4;
	cursor: pointer;
}
.copyright {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #717070;
	color: #FFFFFF;
	text-transform: uppercase;
	font-weight: lighter;
	letter-spacing: 2px;
	border-top-width: 2px;
}
.footer_banner {
	background-color: #B3B3B3;
	padding-top: 60px;
	padding-bottom: 60PX;
	margin-bottom: 0px;
	background-image: url(../images/pattern.png);
	background-repeat: repeat;
}
footer {
	display: inline-block;
}
.hidden {
	display: none;
}

/* Mobile */
@media (max-width: 320px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	display: none;
}

nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
}
.text_column {
	width: 100%;
	text-align: justify;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.product-card {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 90%;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 12px;
	float: none;
	text-align: center;
}
.banner {
	background-color: #2D9AB7;
	background-image: none;
}
.tagline {
	margin-top: 20px;
	line-height: 22px;
}
.hero_header {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 22px;
	text-align: center;
}

/* Small Tablets */
@media (min-width: 321px)and (max-width: 767px) {
.logo {
	width: 100%;
	text-align: center;
	margin-top: 13px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	color: #043745;
}
.container header nav {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	float: none;
	overflow: auto;
	display: inline-block;
	background: #52bad5;
}
header nav ul {
	padding: 0px;
	float: none;
}
nav ul li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	text-align: center;
	padding-top: 8px;
	padding-bottom: 8px;
}
.text_column {
	width: 100%;
	text-align: left;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.tproduct-card {
	width: 100%;
}
.footer_column {
	width: 100%;
	margin-top: 0px;
}
.parallax {
	text-align: center;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 40%;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	width: 100%;
	font-size: 18px;
}
.parallax_description {
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin-top: 30%;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	float: none;
	width: 100%;
	text-align: center;
}
.product-card {
	width: 50%;
}
.parallax {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	padding-top: 20%;
}
.parallax_description {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	width: 100%;
	padding-top: 30px;
}
.banner {
	padding-left: 20px;
	padding-right: 20px;
}
.footer_column {
	width: 100%;
}
}

/* Small Desktops */
@media (min-width: 768px) and (max-width: 1096px) {
.text_column {
	width: 100%;
}
.product-card {
	width: 50%;
}
.text_column {
	width: 100%;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}
.banner {
	margin-top: 0px;
	padding-top: 0px;
}
}}