@charset "UTF-8";

/* Color Theme Swatches in Hex */

.Neutral-Tropical-Greenhouse-1-hex {
    color: #A89A8A;
}

.Neutral-Tropical-Greenhouse-2-hex {
    color: #8D960C;
}

.Neutral-Tropical-Greenhouse-3-hex {
    color: #A9DBAA;
}

.Neutral-Tropical-Greenhouse-4-hex {
    color: #07614F;
}

.Neutral-Tropical-Greenhouse-5-hex {
    color: #FCD99F;
}



/* Color Theme Swatches in RGBA */

.Neutral-Tropical-Greenhouse-1-rgba {
    color: rgba(168, 154, 137, 1);
}

.Neutral-Tropical-Greenhouse-2-rgba {
    color: rgba(141, 150, 11, 1);
}

.Neutral-Tropical-Greenhouse-3-rgba {
    color: rgba(168, 218, 169, 1);
}

.Neutral-Tropical-Greenhouse-4-rgba {
    color: rgba(7, 96, 78, 1);
}

.Neutral-Tropical-Greenhouse-5-rgba {
    color: rgba(251, 216, 158, 1);
}



/* Color Theme Swatches in HSLA */

.Neutral-Tropical-Greenhouse-1-hsla {
    color: hsla(0, 14, 60, 1);
}

.Neutral-Tropical-Greenhouse-2-hsla {
    color: hsla(0, 85, 31, 1);
}

.Neutral-Tropical-Greenhouse-3-hsla {
    color: hsla(0, 40, 76, 1);
}

.Neutral-Tropical-Greenhouse-4-hsla {
    color: hsla(0, 86, 20, 1);
}

.Neutral-Tropical-Greenhouse-5-hsla {
    color: hsla(0, 93, 80, 1);
}



* {

    padding: 0;

    box-sizing: border-box;

    outline: none;
    border: none;

    text-decoration: none;

    transition: all .2s linear;

}



html {

    scroll-behavior: smooth;

    overflow-x: hidden;

}



/* Body */



body {

    height: 100vh;

    background-color: #fff;

}

/* Container */

.wrapper {

    width: 90%;

    margin-left: auto;

    margin-right: auto;

    background-color: #FFFFFF;

}

/* Side Cart */

#cartbtn {

    text-align: center;

    color: wheat;

    background-color: transparent;

}



#cartbtn button {

    border: none;

    cursor: pointer;

}



.sidecart {

    position: absolute;

    top: 0px;

    right: -700px;

    width: 25%;

    height: 100vh;

    background: #fff;

    text-align: center;

    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);

    transition: right .5s;

    z-index: 2;

    display: flex;

    flex-direction: column;

    justify-content: space-between;

}



.sidecart.active {

    right: 0px;

}



.cart-header {

    display: flex;

    align-items: center;

    justify-content: space-between;

    background-color: #52bad5;

    color: #fff;

    padding: 20px;

}



#remove {

    margin-right: 10px;

    color: #fff;

    font-size: 36px;

    cursor: pointer;

}



.cart-header h2 {

    font-size: 28px;

    margin: 0;

}



.products img {

    width: 35%;

    margin: 0 10px;

    object-fit: cover;

}



.products {

    display: flex;

    justify-content: center;

    padding: 0px 20px;

}



.quantity-and-button {

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    align-items: center;

    width: 100%;

}



.details {

    width: 50%;

    padding: 20px;

    display: flex;

    flex-direction: column;

    align-items: center;

}



.details h3 {

    font-size: 24px;

}



.details input {

    width: 40px;

    height: 30px;

    border: none;

    font-size: 22px;

    border-bottom: 1px solid #555;

    outline: none;

    margin: 20px 0;

    text-align: center;

}



.details button {

    margin: 10px 5px;

    border: none;

    outline: none;

    cursor: pointer;

}



.details button svg {

    width: 40px;

}



#checkout {

    height: 65px;

    font-size: 22px;

    border: none;

    background: #222;

    color: #fff;

    cursor: pointer;

}



/*Login button*/

#logsign {

    background-color: rgb(240, 215, 176);

    color: black;

    padding: 1em 1.5em;

    text-decoration: none;

    text-transform: uppercase;

    border-radius: 12px;

    margin-left: 200px;

    margin-right: 15px;
}

#logsign:hover {

    background-color: rgb(135, 161, 93);

}



/* Navigation */

header {

    position: absolute;

    border-bottom: 1px solid rgba(251, 216, 158, 1);

    margin-top: 20px;

    top: 0;

    right: 0;

    padding: 0 2rem;

    background-color: transparent;

    width: 100%;

}

nav {

    width: 100%;

    height: 60px;

    margin: 0 auto;

    padding-left: 100px;

    display: flex;

    align-items: center;

    justify-content: space-between;

}

nav .logo a {

    font-size: 1.5rem;

    font-family: 'Sansita Swashed', cursive;
    ;

    font-weight: 500;

    color: white;

}

header nav ul {

    list-style: none;

    margin-right: 100px;



}

nav ul li {

    float: left;

    color: #000;

    font-size: 14px;

    text-align: left;

    margin-right: 25px;

    letter-spacing: 2px;

    font-weight: bold;

    transition: all 0.3s linear;

}

ul li a {

    color: wheat;

    text-decoration: none;



}

ul li:hover a {

    color: #2C9AB7;

}



/* Hero Section */

.hero {

    position: relative;

    width: 100%;

    height: 100%;

    margin-bottom: 50px;

    background-color: pink;

    overflow: hidden;

}

.hero .title .hero_header {

    position: absolute;

    display: block;

    padding: 100px;

    border-radius: 50%;

    top: 60%;

    font-family: 'Sansita Swashed', cursive;

    left: 60%;

    color: #FFF;

    background-color: rgba(245, 222, 179, 0.579);

    text-align: center;

    font-size: 2em;

    /* font-weight: bold; 

  text-shadow: 3px 3px rgba(0, 0, 0, 0.5); */

}

.hero #hero-video {

    object-fit: fill;

}

.tagline {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    text-align: center;

    color: #FFFFFF;

    margin-top: 4px;

    font-weight: lighter;

    text-transform: uppercase;

    letter-spacing: 1px;

}

/* About Section */

.text_column {

    width: 29%;

    text-align: justify;

    font-weight: lighter;

    line-height: 25px;

    float: left;

    padding-left: 20px;

    padding-right: 20px;

    color: #A3A3A3;

}

.about {

    width: 100%;

    height: 800px;

    padding-left: 25px;

    padding-right: 25px;

    border: 1px red solid;

    display: flex;

    align-items: center;

    justify-content: space-between;

    margin-top: 100px;

}

.about .maintenance-info {

    width: 50%;

    padding: 125px;



}

.about #maintenance-video {

    width: 50%;

    border: 1px red solid;

}

.container {

    max-width: 100%;

    margin: 0 auto;



    padding-top: 10px;

    padding-bottom: 50px;

    /* clip-path: polygon(0% 0%, 100% 49%, 75% 100%, 0% 100%, 25% 50%, 0% 0%); */

    /* position: relative; 

    left: 40px; 

    bottom: 50px; */

}



.container .title {

    font-size: 3rem;

    color: #444;

    margin-bottom: 3rem;

    margin-top: 3rem;

    text-align: center;

}



.container .products-container {

    width: 90%;

    height: auto;

    margin: 0 auto;

    display: flex;

    flex-wrap: nowrap;

    overflow-x: auto;

    overflow-y: hidden;

    scroll-behavior: smooth;

    -webkit-overflow-scrolling: touch;

    padding-bottom: 0;

}



.container .products-container .product {

    padding: 1rem 1.5rem;
    /* adjust the padding values */

    margin-left: 20px;

    margin-bottom: 20px;

    background: #fff;

    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);

    outline: .1rem solid #ccc;

    outline-offset: -.7rem;

    cursor: pointer;

}



.container .products-container .product:hover {

    outline: .2rem solid #222;

    outline-offset: 0;

}



.container .products-container .product img {

    height: 20rem;

    width: 15rem;

}



.container .products-container .product:hover img {

    transform: scale(.9);

}



.container .products-container .product h3 {

    padding: .5rem 0;

    font-size: 2rem;

    color: #444;

    text-align: center;

}



.container .products-container .product:hover h3 {

    color: #27ae60;

}



.container .products-container .product .price {

    font-size: 2rem;

    color: #444;

    text-align: center;

}

/* #triangle-div{ 

    width: 0; 

    height: 0; 

    border-top: 50px solid transparent; 

    border-bottom: 50px solid transparent; 

 } */



.products-preview {

    position: fixed;

    top: 0;
    left: 0;

    min-height: 100vh;

    width: 100%;

    background: rgba(0, 0, 0, .8);

    display: none;

    align-items: center;

    justify-content: center;

}



.products-preview .preview {

    display: none;

    padding: 1.5rem;

    text-align: center;

    background: #fff;

    position: relative;

    margin: 1rem;

    width: 50rem;

}



.products-preview .preview.active {

    display: inline-block;

}



.products-preview .preview img {

    height: 30rem;

}



.products-preview .preview .fa-times {

    position: absolute;

    top: 1rem;
    right: 1.5rem;

    cursor: pointer;

    color: #444;

    font-size: 4rem;

}



.products-preview .preview .fa-times:hover {

    transform: rotate(90deg);

}



.products-preview .preview h3 {

    color: #444;

    padding: 0;

    font-size: 2.5rem;

    margin: 5px;

    margin-top: 10px;

}



.products-preview .preview .stars {

    padding: 5px;

    font-size: 1rem;

}



.products-preview .preview .stars i {

    color: #27ae60;

}



.products-preview .preview .stars span {

    color: #999;

}



.products-preview .preview p {

    line-height: 1.5;

    /* padding:1rem 0; */

    font-size: 1.6rem;

    color: #777;

}



.products-preview .preview .price {

    padding: 1rem 0;

    font-size: 2.5rem;

    color: #27ae60;

}



.products-preview .preview .buttons {

    display: flex;

    gap: 1.5rem;

    flex-wrap: wrap;

    margin-top: 1rem;

}



.products-preview .preview .buttons a {

    flex: 1 1 16rem;

    padding: 1rem;

    font-size: 1.8rem;

    color: #444;

    border: .1rem solid #444;

}



.products-preview .preview .buttons a.cart {

    background: #444;

    color: #fff;

}



.products-preview .preview .buttons a.cart:hover {

    background: #111;

}



.products-preview .preview .buttons a.buy:hover {

    background: #444;

    color: #fff;

}



/* Parallax Section */

.banner {

    background-color: rgba(7, 96, 78, 1);

    background-image: url(../images/parallax.png);

    height: 400px;

    background-attachment: fixed;

    background-size: cover;

    background-repeat: no-repeat;

}

.parallax {

    color: #FFFFFF;

    text-align: right;

    padding-right: 100px;

    padding-top: 110px;

    letter-spacing: 2px;

    margin-top: 0px;

}

.parallax_description {

    color: #FFFFFF;

    text-align: right;

    padding-right: 100px;

    width: 30%;

    float: right;

    font-weight: lighter;

    line-height: 23px;

    margin-top: 0px;

    margin-right: 0px;

    margin-bottom: 0px;

    margin-left: 0px;

}



/* More info */

footer {

    background-color: #FFFFFF;

    padding-bottom: 35px;

}

.footer_column {

    width: 50%;

    text-align: center;

    padding-top: 30px;

    float: left;

}

footer .footer_column h3 {

    color: #B3B3B3;

    text-align: center;

}

footer .footer_column p {

    color: #717070;

    background-color: #FFFFFF;

}

.cards {

    width: 100%;

    height: auto;

    max-width: 400px;

    max-height: 200px;

}

#monthly-sub {

    text-align: center;

    margin-top: 45px;

}

footer .footer_column p {

    padding-left: 30px;

    padding-right: 30px;

    text-align: justify;

    line-height: 25px;

    font-weight: lighter;

    margin-left: 20px;

    margin-right: 20px;

}

.button {

    width: 200px;

    margin-top: 40px;

    margin-right: auto;

    margin-bottom: auto;

    margin-left: auto;

    padding-top: 20px;

    padding-right: 10px;

    padding-bottom: 20px;

    padding-left: 10px;

    text-align: center;

    vertical-align: middle;

    border-radius: 0px;

    text-transform: uppercase;

    font-weight: bold;

    letter-spacing: 2px;

    border: 3px solid #FFFFFF;

    color: #FFFFFF;

    transition: all 0.3s linear;

}

.button:hover {

    background-color: #FEFEFE;

    color: #C4C4C4;

    cursor: pointer;

}

.button-sub {

    width: 200px;

    margin-top: 40px;

    margin-right: auto;

    margin-bottom: auto;

    margin-left: auto;

    padding-top: 20px;

    padding-right: 10px;

    padding-bottom: 20px;

    padding-left: 10px;

    text-align: center;

    vertical-align: middle;

    border-radius: 0px;

    text-transform: uppercase;

    font-weight: bold;

    letter-spacing: 2px;

    border: 3px solid black;

    color: black;

    transition: all 0.3s linear;

}

.button-sub:hover {

    background-color: #FEFEFE;

    color: #C4C4C4;

    cursor: pointer;

}

.copyright {

    text-align: center;

    padding-top: 20px;

    padding-bottom: 20px;

    background-color: #717070;

    color: #FFFFFF;

    text-transform: uppercase;

    font-weight: lighter;

    letter-spacing: 2px;

    border-top-width: 2px;

}

.footer_banner {

    background-color: #B3B3B3;

    padding-top: 60px;

    padding-bottom: 60PX;

    margin-bottom: 0px;

    background-image: url(../images/pattern.png);

    background-repeat: repeat;

}

footer {

    display: inline-block;

}

.hidden {

    display: none;

}



/* Mobile */

@media (max-width: 320px) {

    .logo {

        width: 100%;

        text-align: center;

        margin-top: 13px;

        margin-right: 0px;

        margin-bottom: 0px;

        margin-left: 0px;

    }

    .container header nav {

        margin-top: 0px;

        margin-right: 0px;

        margin-bottom: 0px;

        margin-left: 0px;

        width: 100%;

        float: none;

        display: none;

    }



    nav ul li {

        margin-top: 0px;

        margin-right: 0px;

        margin-bottom: 0px;

        margin-left: 0px;

        width: 100%;

        text-align: center;

    }

    .text_column {

        width: 100%;

        text-align: justify;

        padding-top: 0px;

        padding-right: 0px;

        padding-bottom: 0px;

        padding-left: 0px;

    }

    .product-card {

        width: 100%;

    }

    .footer_column {

        width: 100%;

        margin-top: 0px;

    }

    .parallax {

        text-align: center;

        margin-top: 0px;

        margin-right: 0px;

        margin-bottom: 0px;

        margin-left: 0px;

        padding-top: 40%;

        padding-right: 0px;

        padding-bottom: 0px;

        padding-left: 0px;

        width: 100%;

        font-size: 18px;

    }

    .parallax_description {

        padding-top: 0px;

        padding-right: 0px;

        padding-bottom: 0px;

        padding-left: 0px;

        width: 90%;

        margin-top: 25px;

        margin-right: 0px;

        margin-bottom: 0px;

        margin-left: 12px;

        float: none;

        text-align: center;

    }

    .banner {

        background-color: #2D9AB7;

        background-image: none;

    }

    .tagline {

        margin-top: 20px;

        line-height: 22px;

    }

    .hero_header {

        padding-left: 10px;

        padding-right: 10px;

        line-height: 22px;

        text-align: center;

    }



    /* Small Tablets */

    @media (min-width: 321px)and (max-width: 767px) {

        .logo {

            width: 100%;

            text-align: center;

            margin-top: 13px;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            color: #043745;

        }

        .container header nav {

            margin-top: 0px;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            width: 100%;

            float: none;

            overflow: auto;

            display: inline-block;

            background: #52bad5;

        }

        header nav ul {

            padding: 0px;

            float: none;

        }

        nav ul li {

            margin-top: 0px;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            width: 100%;

            text-align: center;

            padding-top: 8px;

            padding-bottom: 8px;

        }

        .text_column {

            width: 100%;

            text-align: left;

            padding-top: 0px;

            padding-right: 0px;

            padding-bottom: 0px;

            padding-left: 0px;

        }

        .tproduct-card {

            width: 100%;

        }

        .footer_column {

            width: 100%;

            margin-top: 0px;

        }

        .parallax {

            text-align: center;

            margin-top: 0px;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            padding-top: 40%;

            padding-right: 0px;

            padding-bottom: 0px;

            padding-left: 0px;

            width: 100%;

            font-size: 18px;

        }

        .parallax_description {

            padding-top: 0px;

            padding-right: 0px;

            padding-bottom: 0px;

            padding-left: 0px;

            margin-top: 30%;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            float: none;

            width: 100%;

            text-align: center;

        }

        .product-card {

            width: 50%;

        }

        .parallax {

            margin-top: 0px;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            padding-right: 0px;

            padding-bottom: 0px;

            padding-left: 0px;

            padding-top: 20%;

        }

        .parallax_description {

            margin-top: 0px;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            width: 100%;

            padding-top: 30px;

        }

        .banner {

            padding-left: 20px;

            padding-right: 20px;

        }

        .footer_column {

            width: 100%;

        }

    }



    /* Small Desktops */

    @media (min-width: 768px) and (max-width: 1096px) {

        .text_column {

            width: 100%;

        }

        .product-card {

            width: 50%;

        }

        .text_column {

            width: 100%;

            margin-top: 0px;

            margin-right: 0px;

            margin-bottom: 0px;

            margin-left: 0px;

            padding-top: 0px;

            padding-right: 0px;

            padding-bottom: 0px;

            padding-left: 0px;

        }

        .banner {

            margin-top: 0px;

            padding-top: 0px;

        }

    }
}