@charset "UTF-8";

/* Color Theme Swatches in Hex */

.Neutral-Tropical-Greenhouse-1-hex {
  color: #a89a8a;
}

.Neutral-Tropical-Greenhouse-2-hex {
  color: #8d960c;
}

.Neutral-Tropical-Greenhouse-3-hex {
  color: #a9dbaa;
}

.Neutral-Tropical-Greenhouse-4-hex {
  color: #07614f;
}

.Neutral-Tropical-Greenhouse-5-hex {
  color: #fcd99f;
}

/* Color Theme Swatches in RGBA */

.Neutral-Tropical-Greenhouse-1-rgba {
  color: rgba(168, 154, 137, 1);
}

.Neutral-Tropical-Greenhouse-2-rgba {
  color: rgba(141, 150, 11, 1);
}

.Neutral-Tropical-Greenhouse-3-rgba {
  color: rgba(168, 218, 169, 1);
}

.Neutral-Tropical-Greenhouse-4-rgba {
  color: rgba(7, 96, 78, 1);
}

.Neutral-Tropical-Greenhouse-5-rgba {
  color: rgba(251, 216, 158, 1);
}

/* Color Theme Swatches in HSLA */

.Neutral-Tropical-Greenhouse-1-hsla {
  color: hsla(0, 14, 60, 1);
}

.Neutral-Tropical-Greenhouse-2-hsla {
  color: hsla(0, 85, 31, 1);
}

.Neutral-Tropical-Greenhouse-3-hsla {
  color: hsla(0, 40, 76, 1);
}

.Neutral-Tropical-Greenhouse-4-hsla {
  color: hsla(0, 86, 20, 1);
}

.Neutral-Tropical-Greenhouse-5-hsla {
  color: hsla(0, 93, 80, 1);
}

* {
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  margin: 0;
}

/* Body */
body {
  height: 100vh;
  background-color: #fff;
  margin: 0;
}
p {
  font-family: "Crimson Text", serif;
  line-height: 35px;
  font-size: 30px;
}

/* Container */

.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

/* Side Cart */
#cartbtn {
  text-align: center;
  color: wheat;
  background-color: transparent;
}

#cartbtn button {
  border: none;
  cursor: pointer;
}

.sidecart {
  position: fixed;
  top: 0px;
  right: -100%;
  height: 100%;
  width: 25%;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.2);
  transition: right 0.5s;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
}

.sidecart.active {
  right: 0;
}

.cart-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: wheat;
  color: #fff;
  padding: 20px;
}

#remove {
  margin-right: 10px;
  color: #fff;
  font-size: 36px;
  cursor: pointer;
}

.cart-header h2 {
  font-size: 28px;
  margin: 0;
}

.products img {
  width: 35%;
  margin: 0 10px;
  object-fit: cover;
}

.products {
  display: flex;
  justify-content: center;
  padding: 0px 20px;
}

.quantity-and-button {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.details {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.details h3 {
  font-size: 24px;
}

.details input {
  width: 40px;
  height: 30px;
  border: none;
  font-size: 22px;
  border-bottom: 1px solid #555;
  outline: none;
  margin: 20px 0;
  text-align: center;
}

.details button {
  margin: 10px 5px;
  border: none;
  outline: none;
  cursor: pointer;
}

.details button svg {
  width: 40px;
}

#cart #checkout {
  background-color: #222;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 60px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}
#checkout:hover,
#checkout:focus {
  opacity: 0.75;
}
/*Login button*/

#logsign {
  background-color: rgb(240, 215, 176);
  color: black;
  padding: 1em 1.5em;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 12px;
  margin-left: 200px;
  margin-top: 20px;
  margin-right: 15px;
}

#logsign:hover {
  background-color: rgb(135, 161, 93);
}

/* Navigation */

header {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 2rem;
  width: 100%;
}

header nav ul {
  padding-top: 20px;
}

nav {
  width: 100%;
  border-bottom: 1px solid rgba(251, 216, 158, 1);
  padding-top: 20px;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  padding: 27px;
  left: 0;
  background-color: linear-gradient(to bottom, #000, #0003 70%, #0000);
  transition: background-color 0.5s;
}
nav.scrolled {
  background-color: #0a0a0a;
}
nav:hover {
  background-color: #000;
}

nav .logo a {
  font-size: 1.5rem;
  font-family: "Sansita Swashed", cursive;
  font-weight: 500;
  color: wheat;
}
nav .logo a #logonav {
  margin-left: 50px;
}

header nav ul {
  list-style: none;

  margin-right: 100px;
}

nav ul li {
  float: left;

  color: #000;

  font-size: 14px;

  text-align: left;

  margin-right: 25px;

  letter-spacing: 2px;

  font-weight: bold;

  transition: all 0.3s linear;
}

ul li a {
  color: wheat;

  text-decoration: none;
}

ul li:hover a {
  color: rgba(141, 150, 11, 1);
}

/* Hero Section */

.hero #hero {
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 0;
  overflow: hidden;
}

.hero .title {
  display: flex;
  position: relative;
}

.hero .title .hero_header {
  position: absolute;
  display: flex;
  top: -500px;
  /* width: 50%; */
  height: 104px;
  left: 50%;
  bottom: 50%;
  transform: translate(30%, -40%);
  padding: 103px;
  border-radius: 50%;
  font-family: "Sansita Swashed", cursive;
  color: #fff;
  background-color: rgba(245, 222, 179, 0.579);
  justify-content: center;
  align-items: center;
  font-size: 2em;
}

.hero #hero-video {
  object-fit: fill;
  max-width: 100%;
  height: auto;
  z-index: 0;
}

.tagline {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  text-align: center;

  color: #ffffff;

  margin-top: 4px;

  font-weight: lighter;

  text-transform: uppercase;

  letter-spacing: 1px;
}

/* About Section */

.text_column {
  width: 29%;
  text-align: justify;
  font-weight: lighter;
  line-height: 25px;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
  color: #a3a3a3;
}

.about {
  width: 100%;
  min-height: auto;
  padding-left: 25px;
  padding-right: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 200px;
  margin-bottom: 200px;
  flex-wrap: wrap;
  flex-grow: 1;
}

.about .maintenance-info {
  width: 50%;

  min-height: 0;
  flex-grow: 1;
}

.about #maintenance-video {
  width: 850px;
  max-height: auto;
  border: 5px solid wheat;
  border-radius: 20px;
  margin-left: 200px;
}
#plantcare li {
  line-height: 45px;
  margin: 0 auto;
  width: 60%;
  font-family: "Crimson Text", serif;
}
.feature {
  width: 90%;
  min-height: auto;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
  flex-grow: 1;
}

.feature .featured-plant {
  flex-basis: 50%;
  background-color: wheat;
  padding: 55px;
  border-radius: 50%;
  margin: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}

.feature .featured-plant img {
  border-radius: 50%;
  flex-grow: 0;
  margin: 0;
  width: 100%; /* set width to 100% */
  height: auto; /* set height to 100% */
}

.feature .spec-note {
  flex-basis: 50%;
  min-height: 0;
  flex-grow: 0;
}

.feature-title {
  font-size: 3.8rem;
  font-family: "Sansita Swashed", cursive;
  margin-bottom: 0;
  text-align: left;
  margin-left: 100px;
}
.about-title {
  text-align: center;
  font-size: 3.8rem;
  font-family: "Sansita Swashed", cursive;
}
.product-title {
  text-align: center;
  font-size: 3.8rem;
  font-family: "Sansita Swashed", cursive;
  margin-bottom: 50px;
  color: rgb(245, 222, 179);
}

#plantcare {
  font-size: 30px;
  line-height: 35px;
  font-family: "Crimson Text", serif;
}
.container {
  max-width: 100%;
  margin: 0 auto;
  border: 5px solid wheat;

  padding-top: 10px;
  padding-bottom: 50px;
  background-color: rgba(7, 96, 78, 1);
  border-radius: 12px;
}

.container .products-container {
  width: 90%;
  height: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 0;
}
.container .products-container .product {
  padding: 1.7rem 1.9rem;
  margin-left: 30px;
  margin-bottom: 20px;
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  outline: 0.1rem solid #ccc;
  outline-offset: -0.7rem;
  cursor: pointer;
}

.container .products-container .product:hover {
  outline: 0.2rem solid #222;
  outline-offset: 0;
}

.container .products-container .product img {
  height: 20rem;
  width: 15rem;
}

.container .products-container .product:hover img {
  transform: scale(0.9);
}

.container .products-container .product h3 {
  padding: 0.5rem 0;
  font-size: 2rem;
  color: #444;
  text-align: center;
}

.container .products-container .product:hover h3 {
  color: #27ae60;
}

.container .products-container .product .price {
  font-size: 2rem;

  color: #444;

  text-align: center;
}
.products-preview {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  align-items: center;
  justify-content: center;
}

.products-preview .preview {
  display: none;
  padding: 1.5rem;
  text-align: center;
  background: #fff;
  position: relative;
  margin: 1rem;
  width: 50rem;
}

.products-preview .preview.active {
  display: inline-block;
}

.products-preview .preview img {
  height: 30rem;
}

.products-preview .preview .fa-times {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
  cursor: pointer;
  color: #444;
  font-size: 4rem;
}

.products-preview .preview .fa-times:hover {
  transform: rotate(90deg);
}

.products-preview .preview h3 {
  color: #444;
  padding: 0;
  font-size: 2.5rem;
  margin: 5px;
  margin-top: 10px;
}

.products-preview .preview .stars {
  padding: 5px;
  font-size: 1rem;
}

.products-preview .preview .stars i {
  color: #27ae60;
}

.products-preview .preview .stars span {
  color: #999;
}

.products-preview .preview p {
  line-height: 1.5;
  /* padding:1rem 0; */
  font-size: 1.6rem;
  color: #777;
}

.products-preview .preview .price {
  padding: 1rem 0;
  font-size: 2.5rem;
  color: #27ae60;
}

.products-preview .preview .buttons {
  display: flex;
  gap: 1.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.products-preview .preview .buttons a {
  flex: 1 1 16rem;
  padding: 1rem;
  font-size: 1.8rem;
  color: #444;
  border: 0.1rem solid #444;
}

.products-preview .preview .buttons a.cart {
  background: #444;
  color: #fff;
}

.products-preview .preview .buttons a.cart:hover {
  background: #111;
}

.products-preview .preview .buttons a.buy:hover {
  background: #444;
  color: #fff;
}

.banner {
  background-color: rgba(7, 96, 78, 1);
  border: 5px solid wheat;
  width: 100%;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
  flex-grow: 1;
  border-radius: 12px;
  height: auto;
}
/*Reviews*/
.container-review {
  background-color: white;
  border: 5px solid wheat;

  margin: 0 auto;
  width: 1000px;
  border-radius: 5px;
}

.container-review .review {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.container-review .review .img-container-rev {
  padding-right: 30px;
  width: 35%;
}

.container-review .review img {
  border-radius: 50%;
  height: 250px;
  width: 250px;
}

.container-review .review-content {
  margin: 20px;
  width: 35%;
}

.container-review .review-content h4 {
  font-size: 34px;
  margin: 0 0 10px 0;
  padding-bottom: 20px;
}

.container-review .review-content p {
  font-size: 1.5em;
  line-height: 1.5;
  margin: 0;
}

.banner .button-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 0;
  z-index: 2;
}

.banner .prev-btn {
  background-color: transparent;
  font-size: 50px;
  color: wheat;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  left: 190px;
  bottom: 200px;
}

.banner .next-btn {
  background-color: transparent;
  font-size: 50px;
  color: wheat;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
  right: 190px;
  bottom: 200px;
}

.container-review .prev-btn:hover,
.container-review .next-btn:hover {
  transform: scale(1.2);
}

/*Monthly Subscription*/
.subscription {
  display: grid;
  height: auto;
  padding-bottom: 268px;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.subscription .sub_column {
  width: 50%;
  text-align: center;
  padding-top: 30px;
  float: left;
}
#monthly-sub-title {
  text-align: center;
  font-size: 3.8rem;
  font-family: "Sansita Swashed", cursive;
  margin: 100px;
  grid-area: 1 / 1 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub_column1 {
  grid-area: 2 / 1 / 3 / 2;
}
.sub_column1 img {
  border: 30px solid wheat;
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
}

.sub_column2 {
  margin-right: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  grid-area: 2 / 2 / 3 / 3;
}

/* .cards {
    width: 100%;
    height: auto;
    max-width: 400px;
    max-height: 200px;
  } */

#monthly-sub {
  text-align: center;
  margin-top: 45px;
}

.button-sub {
  width: 200px;
  margin-top: 40px;
  margin-right: auto;
  margin-bottom: auto;
  margin-left: auto;
  padding-top: 20px;
  padding-right: 10px;
  padding-bottom: 20px;
  padding-left: 10px;
  text-align: center;
  vertical-align: middle;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  border: 3px solid black;
  color: black;
  transition: all 0.3s linear;
}

.button-sub:hover {
  background-color: #fefefe;
  color: #c4c4c4;
  cursor: pointer;
}

/* footer .footer_column p {
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
    line-height: 25px;
    font-weight: lighter;
    margin-left: 20px;
    margin-right: 20px;
  } */

/* More info */

footer{
  background: #111;
  border: 5px solid wheat;
  height: auto;
  width: 100vw;
  padding-top: 40px;
  color: #fff;
}
.footer-content{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3{
  font-size: 2.1rem;
  font-weight: 500;
  text-transform: capitalize;
  line-height: 3rem;
}
.footer-content p{
  max-width: 720px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 18px;
  color: #cacdd2;
}
.socials{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 3rem 0;
}
.socials li{
  margin: 0 10px;
}
.socials a{
  text-decoration: none;
  color: #fff;
  border: 1.1px solid white;
  padding: 5px;

  border-radius: 50%;

}
.socials a i{
  font-size: 1.1rem;
  width: 20px;


  transition: color .4s ease;

}
.socials a:hover i{
  color: aqua;
}

.footer-bottom{
  background: #000;
  width: 100vw;
  padding: 20px;
padding-bottom: 40px;
  text-align: center;
}
.footer-bottom p{
float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer-bottom p a{
color:#44bae8;
font-size: 16px;
text-decoration: none;
}
.footer-bottom span{
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}
.footer-menu{
float: right;

}
.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 10px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
}

/* Mobile */

@media (max-width: 320px) {
  .about {
    flex-direction: column;
    height: auto;
  }
  .about .maintenance-info {
    width: 100%;
    padding: 25px;
  }
  .logo {
    width: 100%;

    text-align: center;

    margin-top: 13px;

    margin-right: 0px;

    margin-bottom: 0px;

    margin-left: 0px;
  }

  .container header nav {
    margin-top: 0px;

    margin-right: 0px;

    margin-bottom: 0px;

    margin-left: 0px;

    width: 100%;

    float: none;

    display: none;
  }

  nav ul li {
    margin-top: 0px;

    margin-right: 0px;

    margin-bottom: 0px;

    margin-left: 0px;

    width: 100%;

    text-align: center;
  }

  .text_column {
    width: 100%;

    text-align: justify;

    padding-top: 0px;

    padding-right: 0px;

    padding-bottom: 0px;

    padding-left: 0px;
  }

  .product-card {
    width: 100%;
  }

  .footer_column {
    width: 100%;

    margin-top: 0px;
  }

  .parallax {
    text-align: center;

    margin-top: 0px;

    margin-right: 0px;

    margin-bottom: 0px;

    margin-left: 0px;

    padding-top: 40%;

    padding-right: 0px;

    padding-bottom: 0px;

    padding-left: 0px;

    width: 100%;

    font-size: 18px;
  }

  .parallax_description {
    padding-top: 0px;

    padding-right: 0px;

    padding-bottom: 0px;

    padding-left: 0px;

    width: 90%;

    margin-top: 25px;

    margin-right: 0px;

    margin-bottom: 0px;

    margin-left: 12px;

    float: none;

    text-align: center;
  }

  .banner {
    background-color: #2d9ab7;

    background-image: none;
  }

  .tagline {
    margin-top: 20px;

    line-height: 22px;
  }

  .hero_header {
    padding-left: 10px;

    padding-right: 10px;

    line-height: 22px;

    text-align: center;
  }

  /* Small Tablets */

  @media (min-width: 321px) and (max-width: 767px) {
    .hero .title .hero_header {
      padding: 50px;
      font-size: 1.5em;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .logo {
      width: 100%;

      text-align: center;

      margin-top: 13px;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      color: #043745;
    }

    .container header nav {
      margin-top: 0px;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      width: 100%;

      float: none;

      overflow: auto;

      display: inline-block;

      background: #52bad5;
    }

    header nav ul {
      padding: 0px;

      float: none;
    }

    nav ul li {
      margin-top: 0px;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      width: 100%;

      text-align: center;

      padding-top: 8px;

      padding-bottom: 8px;
    }

    .text_column {
      width: 100%;

      text-align: left;

      padding-top: 0px;

      padding-right: 0px;

      padding-bottom: 0px;

      padding-left: 0px;
    }

    .tproduct-card {
      width: 100%;
    }

    .footer_column {
      width: 100%;

      margin-top: 0px;
    }

    .parallax {
      text-align: center;

      margin-top: 0px;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      padding-top: 40%;

      padding-right: 0px;

      padding-bottom: 0px;

      padding-left: 0px;

      width: 100%;

      font-size: 18px;
    }

    .parallax_description {
      padding-top: 0px;

      padding-right: 0px;

      padding-bottom: 0px;

      padding-left: 0px;

      margin-top: 30%;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      float: none;

      width: 100%;

      text-align: center;
    }

    .product-card {
      width: 50%;
    }

    .parallax {
      margin-top: 0px;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      padding-right: 0px;

      padding-bottom: 0px;

      padding-left: 0px;

      padding-top: 20%;
    }

    .parallax_description {
      margin-top: 0px;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      width: 100%;

      padding-top: 30px;
    }

    .banner {
      padding-left: 20px;

      padding-right: 20px;
    }

    .footer_column {
      width: 100%;
    }
  }

  /* Small Desktops */

  @media (min-width: 768px) and (max-width: 1096px) {
    .text_column {
      width: 100%;
    }

    .product-card {
      width: 50%;
    }

    .text_column {
      width: 100%;

      margin-top: 0px;

      margin-right: 0px;

      margin-bottom: 0px;

      margin-left: 0px;

      padding-top: 0px;

      padding-right: 0px;

      padding-bottom: 0px;

      padding-left: 0px;
    }

    .banner {
      margin-top: 0px;

      padding-top: 0px;
    }
  }
}
